# api keys 
OPENAI_API_KEY=""
GROQ_API_KEY=""
XAI_API_KEY=""
GOOGLE_API_KEY=""
# GEMINI_API_KEY="AIzaSyCbXyTGUTSC8BgslHK2lSBWrwXwCFbFaNQ"
MISTRAL_API_KEY=""
HUGGINGFACEHUB_API_TOKEN=""
TAVILY_API_KEY=""
OPENWEATHER_API_KEY=""