# api keys 
OPENAI_API_KEY=""
GROQ_API_KEY=""
XAI_API_KEY=""
GOOGLE_API_KEY=""
GEMINI_API_KEY=""
MISTRAL_API_KEY=""
HUGGINGFACEHUB_API_TOKEN=""
TAVILY_API_KEY=""
OPENWEATHER_API_KEY=""
AVIATIONSTACK_API_KEY=""
DATABASE_URL=""


# third party llm for openai 

MODEL=""
API_KEY=""
BASE_URL=""
